<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EPOSmobileContext" connectionString="metadata=res://*/Entities.EPOSmobileModel.csdl|res://*/Entities.EPOSmobileModel.ssdl|res://*/Entities.EPOSmobileModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EPOSmobile;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>